
/*
	--> Helpers : Margin & Padding
*/
.m-top-10 {
	margin-top:10px;
}

.m-top-20 {
	margin-top:20px;
}

.m-top-30 {
	margin-top:30px;
}

.m-top-40 {
	margin-top:40px;
}

.m-top-50 {
	margin-top:50px;
}

.m-top-60 {
	margin-top:60px;
}

.m-top-65 {
	margin-top:65px;
}

.m-top-70 {
	margin-top:70px;
}

.m-top-80 {
	margin-top:80px;
}


.m-bot-10 {
	margin-bottom:10px;
}

.m-bot-20 {
	margin-bottom:20px;
}

.m-bot-30 {
	margin-bottom:30px;
}

.m-bot-40 {
	margin-bottom:40px;
}

.m-bot-50 {
	margin-bottom:50px;
}


.m-top-bot-10 {
	margin-top:10px;
	margin-bottom: 10px;
}

.m-top-bot-20 {
	margin-top:20px;
	margin-bottom: 20px;
}

.m-top-bot-30 {
	margin-top:30px;
	margin-bottom: 30px;
}

.m-top-bot-40 {
	margin-top:40px;
	margin-bottom: 40px;
}

.m-top-bot-50 {
	margin-top:50px;
	margin-bottom: 50px;
}



.p-top-10 {
	padding-top:10px;
}

.p-top-20 {
	padding-top:20px;
}

.p-top-30 {
	padding-top:30px;
}

.p-top-40 {
	padding-top:40px;
}

.p-top-50 {
	padding-top:50px;
}

.p-top-60 {
	padding-top:60px;
}

.p-top-70 {
	padding-top:70px;
}


.p-20 {
	padding:20px;
}

.p-30 {
	padding:30px;
}

